@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
article{
    box-sizing:border-box;
    border:1px solid gray;
    border-radius:10px;
    background: rgb(2,0,36);
    background: linear-gradient(322deg, rgba(2,0,36,1) 0%, rgba(200,214,227,1) 32%, rgba(117,127,135,1) 77%);
    padding:20px;
}
.container{
    display:flex;
    justify-content:space-around;
}
.title{
    color:rgb(5, 5, 27);
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}
.para{
    text-align:center;
    color:blue;
    font-family:Arial, Helvetica, sans-serif;
}
.box1{
    box-sizing: border-box;
    border-radius:10px;
    padding:10px;
    background:linear-gradient(to right, #9d50bb, #6e48aa);
    width:400px;
    height:350px;
}
.box2{
    box-sizing:border-box;
    padding:10px;
    width:700px;
    height:350px;
}
.title1{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    color:ivory;
}
.para1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}
.maili{
    text-decoration:none;
    color:black;
}
.maili:hover{
    color:rgb(200, 200, 200);
    transition:0.5s;
}
.input{
    width:300px;
    height:30px;
    border-bottom:2px solid rgb(5, 5, 27);
    border-top:0;
    border-right:0;
    border-left:0;
    outline:none;
    background:transparent;
    color:ivory;
}
#textarea{
    border:0;
    border-bottom:2px solid rgb(5, 5, 27);
    outline:none;
    background:transparent;
}
.th{
    color:rgb(5, 5, 27);
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
    
}